.banner {
	background: url("https://media.architecturaldigest.com/photos/571e97ce818277135ff91620/master/w_1920%2Cc_limit/modernist-decor-inspiration-07.jpg")
		center center;

	height: 50vh;
	position: relative;
}

.banner__info {
	background-color: black;
	opacity: 0.9;
	color: white;
	padding-top: 12vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	width: 300px;
}

.banner__search {
	outline: none;
	border-color: lightgrey;
	display: flex;
	flex-direction: column;
}

.banner__searchButton {
	background-color: white !important;
	font-weight: 900 !important;
	text-decoration: inherit !important;
	color: #ff7779 !important;
	outline: none;
	height: 40px;
}

.banner__info > button {
	background-color: #ff7779;
	color: white;
	padding: 25px 15px;
	height: 30px;
	border-radius: 999px;
	border: none;
	outline-width: 0;
	text-transform: inherit;
}

.banner__info > button:hover {
	background-color: white;
	color: #ff7779;
	border: none;
}

.banner__info > h5 {
	margin-top: 10px;
}
